{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "site_django/css/forget_password.css" %}">

    <title>forget_pasword - page</title>
</head>
<body>
    <div class="main-content">
        <h1 class="text-forget">Forgot your password?</h1>
        <label for="">Type your e-mail</label>
        <input type="email" class="input-email" placeholder="Type your e-mail" name="" id="" >

    <section>
        <button class="btn-confirm">
            <a href="/">Confirm</a>
        </button>
    </section>   
    </div>  
</body>
</html>