{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
    integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css"
    integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
    integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="{% static "site_django/css/login.css" %}">

    <title>Login</title>
</head>
<body>
    <div class="border-login">
        <div class="main-input">
            <h1 class="text-singIn">sing in</h1>
            <label for="username" class="name-username" >Username</label>
            <input type="text" class="boxtext" placeholder="Enter Userame" name="username">

            <label for="password" class="name-password">Password</label>
            <input type="password" class="boxpassword" placeholder="Enter Password" name="password">
            
            <section>
                <button class="btn-login">
                    <a href="/">Login</a>
                </button>
            </section>
            
            <section>
                <button class="btn-registrer">
                    <a href="/registrer">Registrer</a>
                </button>
            </section>

            <a href="/" class="link-forgot-password">
                Forgot your password?</a>
        </div>
    </div>

</body>
</html>