{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "site_django/css/registrer.css" %}">

    <title>Registrer</title>
</head>
<body>
    <div class="border-registrer">
        <h1>Registrer</h1>
        <div class="main-input">
            <label for="username" class="name-username">Username</label>
            <input type="text" class="username-content" placeholder="Write your username">
                
            <label for="password" class="name-password">Password</label>
            <input type="password" name="" id="" class="password-content" placeholder="Write your password">
                

            <label for="confirm-password" class="name-confirm-password">Confirm password</label>
            <input type="password" name="" id="" class="confirm-password-content" placeholder="Confirm you password">
            

            <label for="input-email" class="name-email">Email</label>
            <input type="email" name="" id="" class="email-content" placeholder="Write your email">

            <label for="confirm-email" class="name-confirm-email" >Confirm email</label>
            <input type="email" name="" id="" class="confirm-email-content" placeholder="Confirme your email">

            <section>
                <button class="btn-confirm">
                    <a href="/login">Confirm</a>
                </button>
            </section>

            <input type="checkbox" class="box-confirm">
            <div class="checkboxterm">Quero receber ofertas e novidades por e-mail, SMS, WhatsApp ou mensagens nos App!
            </div>
    </div>



</body>

</html>